<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Duolingo Homework Assignment</h1>
    <p>Please enter 2 strings!</p>
    
      <form class="form-inline">
          <div class="form-group">      
            <input class="form-control" placeholder="First String" type="text" id="first_string" value="">  
            <input class="form-control" placeholder="Second String" type="text" id="second_string" value="">  
            <button type="submit" class="btn btn-default">Submit</button>  
          </div>
      </form>
          
  </div>
</div>


</body>
</html>
